.home {
  height: 100vh;

  background-color: rgb(10, 25, 47);
  text-align: center;
  color: white;
  position: relative;
  z-index: 1;

  &::before {
    position: absolute;
    top: 10%;
    left: 0;
    z-index: -1;
    width: 50%;
    content: url("https://jayhawk.tech/assets/undraw_coding_6mjf.svg");
  }

  &__menu {
    display: flex;
    justify-content: space-between;

    a {
      text-decoration: none;
      font-size: 20px;
    }
  }

  &__info {
    padding: 60px;
    font-size: 2rem;

    h2 {
      font-weight: normal;
    }
  }
  &__social {
    margin-top: 90px;

    a {
      display: inline-block;
      text-decoration: none;
      color: white;
      font-size: 50px;
      margin-left: 30px;
    }
  }

  &__inner {
    z-index: 1000;
    height: 85vh;
    padding-left: 800px;
    display: grid;
    place-items: center;
    text-align: center;

    .img2 {
      width: 70%;
    }

    h1 {
      padding: 60px;
      font-family: "Merienda One", cursive;
      margin: 0;
      padding: 10px;
      font-style: italic;

      span {
        img {
          width: 50px;
        }
      }

      .typewriter {
        margin-left: 14px;
        height: 100px;
        width: 100%;
        font-size: 35px;
      }
    }
  }
}

$size: 20px;
$speed: 3s;
$peakopacity: 1;

.home__footer {
  position: relative;
  position: absolute;
  left: 50%;
  width: $size;
  height: $size;
  transform: translate(-50%, -50%);
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-left: $size/3 solid rgba(255, 255, 255, $peakopacity);
    border-bottom: $size/3 solid rgba(255, 255, 255, $peakopacity);
    transform: translate($size/3, $size * 4/3) rotate(-45deg);
    animation: arrows $speed linear infinite;
  }
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-left: $size/3 solid rgba(255, 255, 255, $peakopacity);
    border-bottom: $size/3 solid rgba(255, 255, 255, $peakopacity);
    transform: translate($size * 2/3, 0px) rotate(-45deg);
    animation: arrows $speed linear infinite $speed/-2;
  }
}

@keyframes arrows {
  0% {
    border-left: $size/3 solid rgba(255, 255, 255, 0);
    border-bottom: $size/3 solid rgba(255, 255, 255, 0);
    transform: translate($size/-6, $size * 4/-6) rotate(-45deg);
  }
  10%,
  90% {
    border-left: $size/3 solid rgba(255, 255, 255, 0);
    border-bottom: $size/3 solid rgba(255, 255, 255, 0);
  }
  50% {
    border-left: $size/3 solid rgba(255, 255, 255, $peakopacity);
    border-bottom: $size/3 solid rgba(255, 255, 255, $peakopacity);
    transform: translate($size/-6, 0px) rotate(-45deg);
  }
  100% {
    border-left: $size/3 solid rgba(255, 255, 255, 0);
    border-bottom: $size/3 solid rgba(255, 255, 255, 0);
    transform: translate($size/-6, $size * 4/6) rotate(-45deg);
  }
}
header {
  font-size: 50px;

  a {
    text-decoration: none;
    color: white;
  }
}

@media screen and (max-width: 1400px) {
  .home {
    &__inner {
      grid-template-columns: 1fr;
    }

    &__column {
      height: 85vh;
      display: grid;
      place-items: center;
    }
  }
}
